body{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
 }


/*  */
/* COMMONS */
/*  */

.clearfix::after{
   display: table;
   content: "";
   clear: both;
 }

 .float{
    float: left;
 }


 .capsOn{
    text-transform: uppercase;
 }



 .whiteText{
    color: white;
 }

 .greyText{
    color: #7d7e83;
 }

 /*  */
/* ASIDE */
/*  */

aside{
   width: 250px;
   height: 100vh;
   background-color: black;
}

.logo{
   display: flex;
   width: 250px;
   height: 8vh;
   align-items: center;
}

.logoImage{
   width: 150px;
   height: auto;
   margin-left: 20px;
}

.getSong{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   height: 10vh;
   background-color: blue;

}

/*  */
/* MAIN */
/*  */

main{
   width: calc(100% - 250px);
   height: 100vh;
   background-color: #141922;
}

.bar{
   width: 100% - 250px;
   height: 8vh;
   background-color: #080b12;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.upgrade{
   margin-right: 15px;
   border: 1px solid white;
   padding:15px 25px 15px 25px;
   border-radius: 20px;
   background-color: transparent;
      
}


.downbarContainer{
   width: 100%;
   height: 8vh;
   
 
}


.choiceMusic{
   width: 60%;
   height: 8vh;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 12px;
   font-weight: 400;
}

.select > div:hover{
   border-bottom: 2px solid lime; /* DA RIVEDERE */
   
}



/*  */
/* FOOTER */
/*  */

footer{
   width: 100%;
   height: 9vh;
   background-color: #282828;
   position: absolute;
   z-index: 2;
   top: 91vh;
   display: flex;
}


.toogleLeft{
   height: 9vh;
   width: 25%;
   background-color: mediumspringgreen;
}

.toogleCenter{
   height: 9vh;
   width: 50%;
   background-color:olive;
}

.toogleRight{
   height: 9vh;
   width: 25%;
   background-color: orangered;
}




