body{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 .box{
   background-color : firebrick;
}


/* COMMONS */

.clearfix{
   display: table;
   content: "";
   clear: both;
 }

 .float{
    float: left;
 }

/* ASIDE */

aside{
   width: 250px;
   height: 95vh;
   background-color: black;
}


/* MAIN */

main{
   width: calc(100vw - 250px);
   height: 95vh;
   background-color: #141922;

}














