body{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }



/* COMMONS */

.clearfix::after{
   display: table;
   content: "";
   clear: both;
 }

 .float{
    float: left;
 }

/* ASIDE */

aside{
   width: 250px;
   height: 95vh;
   background-color: black;
}


/* MAIN */

main{
   width: calc(100% - 250px);
   height: 95vh;
   background-color: #141922;
}

.bar{
   width: 100% - 250px;
   height: 8vh;
   background-color: #080b12;
}














